* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.docx binary
*.xlsx binary
*.pdf binary
*.7z binary
*.zip binary
*.tar binary
*.tgz binary
*.gz binary
